.idea/
demo/andr-demo-prj/.idea/compiler.xml
demo/andr-demo-prj/.idea/gradle.xml
demo/andr-demo-prj/.idea/misc.xml
demo/andr-demo-prj/app/app.imi
demo/ios-demo-prj/ios-demo-prj.xcodeproj
demo/j2objc
execs/
